In [1]:
import pandas as pd
import numpy as np
import re

Read the dataset

In [2]:
data_draft_history = pd.read_csv('revised_player_draft_history.csv')
data_player_info = pd.read_csv('player_info_raw.csv')

In [3]:
data_draft_history.columns

Index(['DRAFT_ID', 'PLAYER_ID', 'PLAYER_NAME', 'SEASON', 'ROUND_NUMBER',
       'ROUND_PICK', 'OVERALL_PICK', 'TEAM_ID', 'TEAM_CITY', 'TEAM_NAME',
       'TEAM_ABBREVIATION', 'ORGANIZATION', 'ORGANIZATION_TYPE'],
      dtype='object')

In [4]:
data_player_info = data_player_info.drop(data_player_info.columns[0], axis=1)
data_player_info.columns

Index(['FULL_NAME', 'YEAR_START', 'YEAR_END', 'POSITION', 'HEIGHT', 'WEIGHT',
       'BIRTH_DATE', 'COLLEGE'],
      dtype='object')

In [5]:
data_player_info.apply(lambda x: sum(x.isnull()),axis=0)

FULL_NAME     0
YEAR_START    0
YEAR_END      0
POSITION      0
HEIGHT        0
WEIGHT        0
BIRTH_DATE    0
COLLEGE       0
dtype: int64

In [6]:
for i in range(len(data_player_info)):
    name = data_player_info.loc[i, 'FULL_NAME']
    id = None
    for j in range(len(data_draft_history)):
        if name == data_draft_history.loc[j, 'PLAYER_NAME']:
            id = data_draft_history.loc[j, 'PLAYER_ID']
    if id != None:
        data_player_info.loc[i, 'PLAYER_ID'] = id

In [7]:
for i in range(len(data_player_info)):
    name = data_player_info.loc[i, 'FULL_NAME']
    college = data_player_info.loc[i, 'COLLEGE']; college = re.sub(',', '', college)
    id = None
    for j in range(len(data_draft_history)):
        if (name == data_draft_history.loc[j, 'PLAYER_NAME']) and (re.sub('-', ' ', data_draft_history.loc[j, 'ORGANIZATION']) in college):
            id = data_draft_history.loc[j, 'PLAYER_ID']
    if id != None:
        data_player_info.loc[i, 'PLAYER_ID'] = id

In [8]:
print(data_player_info.head(10))

             FULL_NAME  YEAR_START  YEAR_END POSITION HEIGHT  WEIGHT  \
0       Alaa Abdelnaby        1991      1995      F-C   6-10   240.0
1      Zaid Abdul-Aziz        1969      1978      C-F    6-9   235.0
2  Kareem Abdul-Jabbar        1970      1989        C    7-2   225.0
3   Mahmoud Abdul-Rauf        1991      2001        G    6-1   162.0
4    Tariq Abdul-Wahad        1998      2003        F    6-6   223.0
5  Shareef Abdur-Rahim        1997      2008        F    6-9   225.0
6        Tom Abernethy        1977      1981        F    6-7   220.0
7          Forest Able        1957      1957        G    6-3   180.0
8       John Abramovic        1947      1948        F    6-3   195.0
9           Alex Acker        2006      2009        G    6-5   185.0

          BIRTH_DATE                                COLLEGE  PLAYER_ID
0      June 24, 1968                        Duke University    76001.0
1      April 7, 1946                  Iowa State University    76002.0
2     April 16, 1947  University of California, Los Angeles    76003.0
3      March 9, 1969             Louisiana State University       51.0
4   November 3, 1974              San Jose State University     1505.0
5  December 11, 1976               University of California      949.0
6        May 6, 1954                     Indiana University    76005.0
7      July 27, 1932            Western Kentucky University    76006.0
8   February 9, 1919         Salem International University        NaN
9   January 21, 1983                  Pepperdine University   101165.0

In [9]:
dupl_name = data_draft_history['PLAYER_NAME'].duplicated()
dupl_org = data_draft_history['ORGANIZATION'].duplicated()
set1 = set(data_draft_history.loc[dupl_name, 'PLAYER_NAME']); set1 = list(set1)
print(set1)

We need to revise the data manually, because these three names own the same university but have different id

In [11]:
shoudong = []
for i in set1:
    temp1 = data_draft_history[data_draft_history['PLAYER_NAME'] == i]
    temp1_id_dupl = temp1['PLAYER_ID'].duplicated()
    temp1_org_dupl = temp1['ORGANIZATION'].duplicated()
    if (True not in list(temp1_id_dupl)) and (True in list(temp1_org_dupl)):
        shoudong.append(i)
print(shoudong)

['Glen Rice', 'Tom Brennan', 'Patrick Ewing']

There is only one person in player_info.csv for the name of 'Tom Brennan', we just fill the ID of him by searching the Internet

In [12]:
data_player_info[data_player_info['FULL_NAME'] == shoudong[0]]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>FULL_NAME</th>
      <th>YEAR_START</th>
      <th>YEAR_END</th>
      <th>POSITION</th>
      <th>HEIGHT</th>
      <th>WEIGHT</th>
      <th>BIRTH_DATE</th>
      <th>COLLEGE</th>
      <th>PLAYER_ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3120</th>
      <td>Glen Rice</td>
      <td>1990</td>
      <td>2004</td>
      <td>F</td>
      <td>6-7</td>
      <td>215.0</td>
      <td>May 28, 1967</td>
      <td>University of Michigan</td>
      <td>203318.0</td>
    </tr>
    <tr>
      <th>3121</th>
      <td>Glen Rice</td>
      <td>2014</td>
      <td>2015</td>
      <td>G</td>
      <td>6-6</td>
      <td>206.0</td>
      <td>January 1, 1991</td>
      <td>Georgia Institute of Technology</td>
      <td>203318.0</td>
    </tr>
  </tbody>
</table>
</div>

There are two person for the name of 'Patrick Ewing', so we need to fill the name seperately

In [13]:
data_player_info[data_player_info['FULL_NAME'] == shoudong[1]]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>FULL_NAME</th>
      <th>YEAR_START</th>
      <th>YEAR_END</th>
      <th>POSITION</th>
      <th>HEIGHT</th>
      <th>WEIGHT</th>
      <th>BIRTH_DATE</th>
      <th>COLLEGE</th>
      <th>PLAYER_ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>413</th>
      <td>Tom Brennan</td>
      <td>1955</td>
      <td>1955</td>
      <td>F</td>
      <td>6-3</td>
      <td>195.0</td>
      <td>August 6, 1930</td>
      <td>Villanova University</td>
      <td>80014.0</td>
    </tr>
  </tbody>
</table>
</div>

In [14]:
data_draft_history[data_draft_history['PLAYER_NAME'] == shoudong[1]]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DRAFT_ID</th>
      <th>PLAYER_ID</th>
      <th>PLAYER_NAME</th>
      <th>SEASON</th>
      <th>ROUND_NUMBER</th>
      <th>ROUND_PICK</th>
      <th>OVERALL_PICK</th>
      <th>TEAM_ID</th>
      <th>TEAM_CITY</th>
      <th>TEAM_NAME</th>
      <th>TEAM_ABBREVIATION</th>
      <th>ORGANIZATION</th>
      <th>ORGANIZATION_TYPE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>486</th>
      <td>487</td>
      <td>76246</td>
      <td>Tom Brennan</td>
      <td>1952</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1610612744</td>
      <td>Philadelphia</td>
      <td>Warriors</td>
      <td>PHW</td>
      <td>Villanova</td>
      <td>College/University</td>
    </tr>
    <tr>
      <th>1136</th>
      <td>1137</td>
      <td>80014</td>
      <td>Tom Brennan</td>
      <td>1958</td>
      <td>8</td>
      <td>5</td>
      <td>60</td>
      <td>1610612744</td>
      <td>Philadelphia</td>
      <td>Warriors</td>
      <td>PHW</td>
      <td>Villanova</td>
      <td>College/University</td>
    </tr>
  </tbody>
</table>
</div>

In [15]:
data_player_info.loc[1112, 'PLAYER_ID'] = 121
data_player_info.iloc[[1112]]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>FULL_NAME</th>
      <th>YEAR_START</th>
      <th>YEAR_END</th>
      <th>POSITION</th>
      <th>HEIGHT</th>
      <th>WEIGHT</th>
      <th>BIRTH_DATE</th>
      <th>COLLEGE</th>
      <th>PLAYER_ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1112</th>
      <td>Patrick Ewing</td>
      <td>1986</td>
      <td>2002</td>
      <td>C-F</td>
      <td>7-0</td>
      <td>240.0</td>
      <td>August 5, 1962</td>
      <td>Georgetown University</td>
      <td>121.0</td>
    </tr>
  </tbody>
</table>
</div>

As for the name 'Glen Rice', they are the father and son, so they had the similar attributes

In [16]:
data_player_info[data_player_info['FULL_NAME'] == shoudong[2]]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>FULL_NAME</th>
      <th>YEAR_START</th>
      <th>YEAR_END</th>
      <th>POSITION</th>
      <th>HEIGHT</th>
      <th>WEIGHT</th>
      <th>BIRTH_DATE</th>
      <th>COLLEGE</th>
      <th>PLAYER_ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1112</th>
      <td>Patrick Ewing</td>
      <td>1986</td>
      <td>2002</td>
      <td>C-F</td>
      <td>7-0</td>
      <td>240.0</td>
      <td>August 5, 1962</td>
      <td>Georgetown University</td>
      <td>121.0</td>
    </tr>
    <tr>
      <th>1113</th>
      <td>Patrick Ewing</td>
      <td>2011</td>
      <td>2011</td>
      <td>F</td>
      <td>6-8</td>
      <td>235.0</td>
      <td>May 20, 1984</td>
      <td>Georgetown University</td>
      <td>201607.0</td>
    </tr>
  </tbody>
</table>
</div>

In [17]:
data_draft_history[data_draft_history['PLAYER_NAME'] == shoudong[2]]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DRAFT_ID</th>
      <th>PLAYER_ID</th>
      <th>PLAYER_NAME</th>
      <th>SEASON</th>
      <th>ROUND_NUMBER</th>
      <th>ROUND_PICK</th>
      <th>OVERALL_PICK</th>
      <th>TEAM_ID</th>
      <th>TEAM_CITY</th>
      <th>TEAM_NAME</th>
      <th>TEAM_ABBREVIATION</th>
      <th>ORGANIZATION</th>
      <th>ORGANIZATION_TYPE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5661</th>
      <td>5662</td>
      <td>121</td>
      <td>Patrick Ewing</td>
      <td>1985</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1610612752</td>
      <td>New York</td>
      <td>Knicks</td>
      <td>NYK</td>
      <td>Georgetown</td>
      <td>College/University</td>
    </tr>
    <tr>
      <th>7345</th>
      <td>7346</td>
      <td>201607</td>
      <td>Patrick Ewing</td>
      <td>2008</td>
      <td>2</td>
      <td>13</td>
      <td>43</td>
      <td>1610612758</td>
      <td>Sacramento</td>
      <td>Kings</td>
      <td>SAC</td>
      <td>Georgetown</td>
      <td>College/University</td>
    </tr>
  </tbody>
</table>
</div>

In [18]:
data_player_info.loc[3120, 'PLAYER_ID'] = 779
data_player_info.loc[3121, 'PLAYER_ID'] = 203318
data_player_info[data_player_info['FULL_NAME'] == shoudong[2]]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>FULL_NAME</th>
      <th>YEAR_START</th>
      <th>YEAR_END</th>
      <th>POSITION</th>
      <th>HEIGHT</th>
      <th>WEIGHT</th>
      <th>BIRTH_DATE</th>
      <th>COLLEGE</th>
      <th>PLAYER_ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1112</th>
      <td>Patrick Ewing</td>
      <td>1986</td>
      <td>2002</td>
      <td>C-F</td>
      <td>7-0</td>
      <td>240.0</td>
      <td>August 5, 1962</td>
      <td>Georgetown University</td>
      <td>121.0</td>
    </tr>
    <tr>
      <th>1113</th>
      <td>Patrick Ewing</td>
      <td>2011</td>
      <td>2011</td>
      <td>F</td>
      <td>6-8</td>
      <td>235.0</td>
      <td>May 20, 1984</td>
      <td>Georgetown University</td>
      <td>201607.0</td>
    </tr>
  </tbody>
</table>
</div>

In [19]:
data_player_info.apply(lambda x: sum(x.isnull()),axis=0)

FULL_NAME        0
YEAR_START       0
YEAR_END         0
POSITION         0
HEIGHT           0
WEIGHT           0
BIRTH_DATE       0
COLLEGE          0
PLAYER_ID     1127
dtype: int64

There are still some data not contained in draft history data, so we delete it

In [20]:
still_no_match = np.where(pd.isnull(data_player_info['PLAYER_ID']))
data_player_info.iloc[still_no_match[0]]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>FULL_NAME</th>
      <th>YEAR_START</th>
      <th>YEAR_END</th>
      <th>POSITION</th>
      <th>HEIGHT</th>
      <th>WEIGHT</th>
      <th>BIRTH_DATE</th>
      <th>COLLEGE</th>
      <th>PLAYER_ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>8</th>
      <td>John Abramovic</td>
      <td>1947</td>
      <td>1948</td>
      <td>F</td>
      <td>6-3</td>
      <td>195.0</td>
      <td>February 9, 1919</td>
      <td>Salem International University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Don Ackerman</td>
      <td>1954</td>
      <td>1954</td>
      <td>G</td>
      <td>6-0</td>
      <td>183.0</td>
      <td>September 4, 1930</td>
      <td>Long Island University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Bud Acton</td>
      <td>1968</td>
      <td>1968</td>
      <td>F</td>
      <td>6-6</td>
      <td>210.0</td>
      <td>January 11, 1942</td>
      <td>Hillsdale College</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Jeff Adrien</td>
      <td>2011</td>
      <td>2015</td>
      <td>F</td>
      <td>6-7</td>
      <td>245.0</td>
      <td>February 10, 1986</td>
      <td>University of Connecticut</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Blake Ahearn</td>
      <td>2008</td>
      <td>2012</td>
      <td>G</td>
      <td>6-2</td>
      <td>190.0</td>
      <td>May 27, 1984</td>
      <td>Missouri State University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Josh Akognon</td>
      <td>2013</td>
      <td>2013</td>
      <td>G</td>
      <td>5-11</td>
      <td>185.0</td>
      <td>February 10, 1986</td>
      <td>California State University, Fullerton</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Cliff Alexander</td>
      <td>2016</td>
      <td>2016</td>
      <td>F</td>
      <td>6-8</td>
      <td>245.0</td>
      <td>November 16, 1995</td>
      <td>University of Kansas</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Gary Alexander</td>
      <td>1994</td>
      <td>1994</td>
      <td>F</td>
      <td>6-7</td>
      <td>240.0</td>
      <td>November 1, 1969</td>
      <td>University of South Florida</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>52</th>
      <td>Malik Allen</td>
      <td>2002</td>
      <td>2011</td>
      <td>F-C</td>
      <td>6-10</td>
      <td>255.0</td>
      <td>June 27, 1978</td>
      <td>Villanova University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>58</th>
      <td>Lance Allred</td>
      <td>2008</td>
      <td>2008</td>
      <td>C</td>
      <td>6-11</td>
      <td>250.0</td>
      <td>February 2, 1981</td>
      <td>Weber State University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>63</th>
      <td>Peter Aluma</td>
      <td>1999</td>
      <td>1999</td>
      <td>C</td>
      <td>6-10</td>
      <td>260.0</td>
      <td>April 23, 1973</td>
      <td>Liberty University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>64</th>
      <td>John Amaechi</td>
      <td>1996</td>
      <td>2003</td>
      <td>C-F</td>
      <td>6-10</td>
      <td>270.0</td>
      <td>November 26, 1970</td>
      <td>Pennsylvania State University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>65</th>
      <td>Ashraf Amaya</td>
      <td>1996</td>
      <td>1997</td>
      <td>F</td>
      <td>6-8</td>
      <td>230.0</td>
      <td>November 23, 1971</td>
      <td>Southern Illinois University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>67</th>
      <td>Lou Amundson</td>
      <td>2007</td>
      <td>2016</td>
      <td>F</td>
      <td>6-9</td>
      <td>220.0</td>
      <td>December 7, 1982</td>
      <td>University of Nevada, Las Vegas</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>69</th>
      <td>Chris Andersen</td>
      <td>2002</td>
      <td>2017</td>
      <td>F-C</td>
      <td>6-10</td>
      <td>245.0</td>
      <td>July 7, 1978</td>
      <td>Blinn College</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>70</th>
      <td>Alan Anderson</td>
      <td>2006</td>
      <td>2017</td>
      <td>G-F</td>
      <td>6-6</td>
      <td>220.0</td>
      <td>October 16, 1982</td>
      <td>Michigan State University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>72</th>
      <td>Antonio Anderson</td>
      <td>2010</td>
      <td>2010</td>
      <td>G</td>
      <td>6-6</td>
      <td>215.0</td>
      <td>June 5, 1985</td>
      <td>University of Memphis</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>80</th>
      <td>J.J. Anderson</td>
      <td>1983</td>
      <td>1985</td>
      <td>F</td>
      <td>6-8</td>
      <td>195.0</td>
      <td>September 23, 1960</td>
      <td>Bradley University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>100</th>
      <td>Joel Anthony</td>
      <td>2008</td>
      <td>2017</td>
      <td>C</td>
      <td>6-9</td>
      <td>245.0</td>
      <td>August 9, 1982</td>
      <td>University of Nevada, Las Vegas</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>102</th>
      <td>Keith Appling</td>
      <td>2016</td>
      <td>2016</td>
      <td>G</td>
      <td>6-1</td>
      <td>185.0</td>
      <td>February 13, 1992</td>
      <td>Michigan State University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>104</th>
      <td>Stacey Arceneaux</td>
      <td>1962</td>
      <td>1962</td>
      <td>F</td>
      <td>6-4</td>
      <td>210.0</td>
      <td>February 17, 1936</td>
      <td>Iowa State University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>106</th>
      <td>Tiny Archibald</td>
      <td>1971</td>
      <td>1984</td>
      <td>G</td>
      <td>6-1</td>
      <td>150.0</td>
      <td>September 2, 1948</td>
      <td>University of Texas at El Paso</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>107</th>
      <td>Ryan Arcidiacono</td>
      <td>2018</td>
      <td>2018</td>
      <td>G</td>
      <td>6-3</td>
      <td>188.0</td>
      <td>March 26, 1994</td>
      <td>Villanova University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>116</th>
      <td>Curly Armstrong</td>
      <td>1949</td>
      <td>1951</td>
      <td>G-F</td>
      <td>5-11</td>
      <td>170.0</td>
      <td>November 1, 1918</td>
      <td>Indiana University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>117</th>
      <td>Darrell Armstrong</td>
      <td>1995</td>
      <td>2008</td>
      <td>G</td>
      <td>6-0</td>
      <td>170.0</td>
      <td>June 22, 1968</td>
      <td>Fayetteville State University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>123</th>
      <td>Carlos Arroyo</td>
      <td>2002</td>
      <td>2011</td>
      <td>G</td>
      <td>6-2</td>
      <td>202.0</td>
      <td>July 30, 1979</td>
      <td>Florida International University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>126</th>
      <td>Jamel Artis</td>
      <td>2018</td>
      <td>2018</td>
      <td>G-F</td>
      <td>6-7</td>
      <td>213.0</td>
      <td>January 12, 1993</td>
      <td>University of Pittsburgh</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>128</th>
      <td>Keith Askins</td>
      <td>1991</td>
      <td>1999</td>
      <td>G-F</td>
      <td>6-7</td>
      <td>197.0</td>
      <td>December 15, 1967</td>
      <td>University of Alabama</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>129</th>
      <td>Don Asmonga</td>
      <td>1954</td>
      <td>1954</td>
      <td>G</td>
      <td>6-2</td>
      <td>185.0</td>
      <td>February 15, 1928</td>
      <td>Alliance College</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>130</th>
      <td>Dick Atha</td>
      <td>1956</td>
      <td>1958</td>
      <td>G</td>
      <td>6-2</td>
      <td>190.0</td>
      <td>September 21, 1931</td>
      <td>Indiana State University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>4058</th>
      <td>Jawad Williams</td>
      <td>2009</td>
      <td>2011</td>
      <td>F</td>
      <td>6-9</td>
      <td>218.0</td>
      <td>February 19, 1983</td>
      <td>University of North Carolina</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4064</th>
      <td>Justin Williams</td>
      <td>2007</td>
      <td>2008</td>
      <td>F</td>
      <td>6-10</td>
      <td>225.0</td>
      <td>May 12, 1984</td>
      <td>University of Wyoming</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4067</th>
      <td>Lorenzo Williams</td>
      <td>1993</td>
      <td>2000</td>
      <td>F-C</td>
      <td>6-9</td>
      <td>200.0</td>
      <td>July 15, 1969</td>
      <td>Stetson University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4071</th>
      <td>Matt Williams</td>
      <td>2018</td>
      <td>2018</td>
      <td>G</td>
      <td>6-5</td>
      <td>210.0</td>
      <td>October 14, 1993</td>
      <td>University of Central Florida</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4094</th>
      <td>Travis Williams</td>
      <td>1998</td>
      <td>1999</td>
      <td>F</td>
      <td>6-6</td>
      <td>215.0</td>
      <td>May 27, 1969</td>
      <td>South Carolina State University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4095</th>
      <td>Troy Williams</td>
      <td>2017</td>
      <td>2018</td>
      <td>F</td>
      <td>6-7</td>
      <td>218.0</td>
      <td>December 30, 1994</td>
      <td>Indiana University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4103</th>
      <td>Dedric Willoughby</td>
      <td>2000</td>
      <td>2000</td>
      <td>G-F</td>
      <td>6-3</td>
      <td>180.0</td>
      <td>May 27, 1974</td>
      <td>Iowa State University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4104</th>
      <td>Bob Wilson</td>
      <td>1952</td>
      <td>1952</td>
      <td>G</td>
      <td>6-4</td>
      <td>185.0</td>
      <td>March 8, 1926</td>
      <td>West Virginia State University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4106</th>
      <td>Bubba Wilson</td>
      <td>1980</td>
      <td>1980</td>
      <td>G</td>
      <td>6-3</td>
      <td>175.0</td>
      <td>August 7, 1955</td>
      <td>Western Carolina University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4110</th>
      <td>Jamil Wilson</td>
      <td>2018</td>
      <td>2018</td>
      <td>F</td>
      <td>6-7</td>
      <td>230.0</td>
      <td>November 21, 1990</td>
      <td>Marquette University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4112</th>
      <td>Michael Wilson</td>
      <td>1984</td>
      <td>1987</td>
      <td>G</td>
      <td>6-4</td>
      <td>175.0</td>
      <td>September 15, 1959</td>
      <td>Marquette University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4119</th>
      <td>Kyle Wiltjer</td>
      <td>2017</td>
      <td>2017</td>
      <td>F</td>
      <td>6-10</td>
      <td>240.0</td>
      <td>October 20, 1992</td>
      <td>Gonzaga University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4120</th>
      <td>Kennard Winchester</td>
      <td>1991</td>
      <td>1993</td>
      <td>G-F</td>
      <td>6-5</td>
      <td>210.0</td>
      <td>September 3, 1966</td>
      <td>Averett University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4126</th>
      <td>Harthorne Wingo</td>
      <td>1973</td>
      <td>1976</td>
      <td>F</td>
      <td>6-6</td>
      <td>210.0</td>
      <td>September 9, 1947</td>
      <td>Friendship Junior College</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4130</th>
      <td>Trevor Winter</td>
      <td>1999</td>
      <td>1999</td>
      <td>C</td>
      <td>7-0</td>
      <td>275.0</td>
      <td>January 7, 1974</td>
      <td>University of Minnesota</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4133</th>
      <td>Skip Wise</td>
      <td>1976</td>
      <td>1976</td>
      <td>G</td>
      <td>6-2</td>
      <td>170.0</td>
      <td>July 25, 1955</td>
      <td>Clemson University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4144</th>
      <td>Christian Wood</td>
      <td>2016</td>
      <td>2017</td>
      <td>F</td>
      <td>6-11</td>
      <td>220.0</td>
      <td>September 27, 1995</td>
      <td>University of Nevada, Las Vegas</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4145</th>
      <td>David Wood</td>
      <td>1989</td>
      <td>1997</td>
      <td>F</td>
      <td>6-9</td>
      <td>227.0</td>
      <td>November 30, 1964</td>
      <td>University of Nevada, Reno</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4151</th>
      <td>Tommy Woods</td>
      <td>1968</td>
      <td>1968</td>
      <td>F</td>
      <td>6-7</td>
      <td>210.0</td>
      <td>June 10, 1943</td>
      <td>East Tennessee State University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4153</th>
      <td>Bob Woollard</td>
      <td>1970</td>
      <td>1970</td>
      <td>C</td>
      <td>6-10</td>
      <td>225.0</td>
      <td>July 27, 1940</td>
      <td>Wake Forest University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4159</th>
      <td>Willie Worsley</td>
      <td>1969</td>
      <td>1969</td>
      <td>G</td>
      <td>5-9</td>
      <td>175.0</td>
      <td>November 13, 1945</td>
      <td>University of Texas at El Paso</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4166</th>
      <td>Chris Wright</td>
      <td>2012</td>
      <td>2014</td>
      <td>F</td>
      <td>6-8</td>
      <td>226.0</td>
      <td>September 30, 1988</td>
      <td>University of Dayton</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4167</th>
      <td>Chris Wright</td>
      <td>2013</td>
      <td>2013</td>
      <td>G</td>
      <td>6-1</td>
      <td>210.0</td>
      <td>November 4, 1989</td>
      <td>Georgetown University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4169</th>
      <td>Howard Wright</td>
      <td>1991</td>
      <td>1993</td>
      <td>F</td>
      <td>6-8</td>
      <td>220.0</td>
      <td>December 20, 1967</td>
      <td>Stanford University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4181</th>
      <td>A.J. Wynder</td>
      <td>1991</td>
      <td>1991</td>
      <td>G</td>
      <td>6-2</td>
      <td>180.0</td>
      <td>September 11, 1964</td>
      <td>Fairfield University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4197</th>
      <td>Max Zaslofsky</td>
      <td>1947</td>
      <td>1956</td>
      <td>G-F</td>
      <td>6-2</td>
      <td>170.0</td>
      <td>December 7, 1925</td>
      <td>St. John's University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4198</th>
      <td>Zeke Zawoluk</td>
      <td>1953</td>
      <td>1955</td>
      <td>F-C</td>
      <td>6-7</td>
      <td>215.0</td>
      <td>October 13, 1930</td>
      <td>St. John's University</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4202</th>
      <td>Harry Zeller</td>
      <td>1947</td>
      <td>1947</td>
      <td>C-F</td>
      <td>6-4</td>
      <td>210.0</td>
      <td>July 10, 1919</td>
      <td>Washington &amp; Jefferson College</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4203</th>
      <td>Luke Zeller</td>
      <td>2013</td>
      <td>2013</td>
      <td>C</td>
      <td>6-11</td>
      <td>245.0</td>
      <td>April 7, 1987</td>
      <td>University of Notre Dame</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4210</th>
      <td>Jim Zoet</td>
      <td>1983</td>
      <td>1983</td>
      <td>C</td>
      <td>7-1</td>
      <td>240.0</td>
      <td>December 20, 1953</td>
      <td>Kent State University</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>1127 rows  9 columns</p>
</div>

In [21]:
data_player_info = data_player_info.drop(still_no_match[0])
data_player_info

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>FULL_NAME</th>
      <th>YEAR_START</th>
      <th>YEAR_END</th>
      <th>POSITION</th>
      <th>HEIGHT</th>
      <th>WEIGHT</th>
      <th>BIRTH_DATE</th>
      <th>COLLEGE</th>
      <th>PLAYER_ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Alaa Abdelnaby</td>
      <td>1991</td>
      <td>1995</td>
      <td>F-C</td>
      <td>6-10</td>
      <td>240.0</td>
      <td>June 24, 1968</td>
      <td>Duke University</td>
      <td>76001.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Zaid Abdul-Aziz</td>
      <td>1969</td>
      <td>1978</td>
      <td>C-F</td>
      <td>6-9</td>
      <td>235.0</td>
      <td>April 7, 1946</td>
      <td>Iowa State University</td>
      <td>76002.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Kareem Abdul-Jabbar</td>
      <td>1970</td>
      <td>1989</td>
      <td>C</td>
      <td>7-2</td>
      <td>225.0</td>
      <td>April 16, 1947</td>
      <td>University of California, Los Angeles</td>
      <td>76003.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Mahmoud Abdul-Rauf</td>
      <td>1991</td>
      <td>2001</td>
      <td>G</td>
      <td>6-1</td>
      <td>162.0</td>
      <td>March 9, 1969</td>
      <td>Louisiana State University</td>
      <td>51.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Tariq Abdul-Wahad</td>
      <td>1998</td>
      <td>2003</td>
      <td>F</td>
      <td>6-6</td>
      <td>223.0</td>
      <td>November 3, 1974</td>
      <td>San Jose State University</td>
      <td>1505.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Shareef Abdur-Rahim</td>
      <td>1997</td>
      <td>2008</td>
      <td>F</td>
      <td>6-9</td>
      <td>225.0</td>
      <td>December 11, 1976</td>
      <td>University of California</td>
      <td>949.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Tom Abernethy</td>
      <td>1977</td>
      <td>1981</td>
      <td>F</td>
      <td>6-7</td>
      <td>220.0</td>
      <td>May 6, 1954</td>
      <td>Indiana University</td>
      <td>76005.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Forest Able</td>
      <td>1957</td>
      <td>1957</td>
      <td>G</td>
      <td>6-3</td>
      <td>180.0</td>
      <td>July 27, 1932</td>
      <td>Western Kentucky University</td>
      <td>76006.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Alex Acker</td>
      <td>2006</td>
      <td>2009</td>
      <td>G</td>
      <td>6-5</td>
      <td>185.0</td>
      <td>January 21, 1983</td>
      <td>Pepperdine University</td>
      <td>101165.0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Mark Acres</td>
      <td>1988</td>
      <td>1993</td>
      <td>F-C</td>
      <td>6-11</td>
      <td>220.0</td>
      <td>November 15, 1962</td>
      <td>Oral Roberts University</td>
      <td>76009.0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Quincy Acy</td>
      <td>2013</td>
      <td>2018</td>
      <td>F</td>
      <td>6-7</td>
      <td>240.0</td>
      <td>October 6, 1990</td>
      <td>Baylor University</td>
      <td>203112.0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Alvan Adams</td>
      <td>1976</td>
      <td>1988</td>
      <td>C-F</td>
      <td>6-9</td>
      <td>210.0</td>
      <td>July 19, 1954</td>
      <td>University of Oklahoma</td>
      <td>76011.0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Don Adams</td>
      <td>1971</td>
      <td>1977</td>
      <td>F</td>
      <td>6-6</td>
      <td>210.0</td>
      <td>November 27, 1947</td>
      <td>Northwestern University</td>
      <td>76012.0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>George Adams</td>
      <td>1973</td>
      <td>1975</td>
      <td>F-G</td>
      <td>6-5</td>
      <td>210.0</td>
      <td>May 15, 1949</td>
      <td>Gardner-Webb University</td>
      <td>81525.0</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Hassan Adams</td>
      <td>2007</td>
      <td>2009</td>
      <td>G</td>
      <td>6-4</td>
      <td>220.0</td>
      <td>June 20, 1984</td>
      <td>University of Arizona</td>
      <td>200801.0</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Jordan Adams</td>
      <td>2015</td>
      <td>2016</td>
      <td>G</td>
      <td>6-5</td>
      <td>209.0</td>
      <td>July 8, 1994</td>
      <td>University of California, Los Angeles</td>
      <td>203919.0</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Michael Adams</td>
      <td>1986</td>
      <td>1996</td>
      <td>G</td>
      <td>5-10</td>
      <td>162.0</td>
      <td>January 19, 1963</td>
      <td>Boston College</td>
      <td>149.0</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Steven Adams</td>
      <td>2014</td>
      <td>2018</td>
      <td>C</td>
      <td>7-0</td>
      <td>255.0</td>
      <td>July 20, 1993</td>
      <td>University of Pittsburgh</td>
      <td>203500.0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Rafael Addison</td>
      <td>1987</td>
      <td>1997</td>
      <td>F-G</td>
      <td>6-7</td>
      <td>215.0</td>
      <td>July 22, 1964</td>
      <td>Syracuse University</td>
      <td>912.0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Bam Adebayo</td>
      <td>2018</td>
      <td>2018</td>
      <td>C-F</td>
      <td>6-10</td>
      <td>243.0</td>
      <td>July 18, 1997</td>
      <td>University of Kentucky</td>
      <td>1628389.0</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Rick Adelman</td>
      <td>1969</td>
      <td>1975</td>
      <td>G</td>
      <td>6-1</td>
      <td>175.0</td>
      <td>June 16, 1946</td>
      <td>Loyola Marymount University</td>
      <td>76015.0</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Arron Afflalo</td>
      <td>2008</td>
      <td>2018</td>
      <td>G</td>
      <td>6-5</td>
      <td>210.0</td>
      <td>October 15, 1985</td>
      <td>University of California, Los Angeles</td>
      <td>201167.0</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Maurice Ager</td>
      <td>2007</td>
      <td>2011</td>
      <td>G</td>
      <td>6-5</td>
      <td>202.0</td>
      <td>February 9, 1984</td>
      <td>Michigan State University</td>
      <td>200772.0</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Mark Aguirre</td>
      <td>1982</td>
      <td>1994</td>
      <td>F-G</td>
      <td>6-6</td>
      <td>232.0</td>
      <td>December 10, 1959</td>
      <td>DePaul University</td>
      <td>76016.0</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Danny Ainge</td>
      <td>1982</td>
      <td>1995</td>
      <td>G</td>
      <td>6-4</td>
      <td>175.0</td>
      <td>March 17, 1959</td>
      <td>Brigham Young University</td>
      <td>76017.0</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Matthew Aitch</td>
      <td>1968</td>
      <td>1968</td>
      <td>F</td>
      <td>6-7</td>
      <td>230.0</td>
      <td>September 21, 1944</td>
      <td>Michigan State University</td>
      <td>80647.0</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Henry Akin</td>
      <td>1967</td>
      <td>1969</td>
      <td>C-F</td>
      <td>6-10</td>
      <td>225.0</td>
      <td>July 31, 1944</td>
      <td>Morehead State University</td>
      <td>76018.0</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Solomon Alabi</td>
      <td>2011</td>
      <td>2012</td>
      <td>C</td>
      <td>7-1</td>
      <td>251.0</td>
      <td>March 21, 1988</td>
      <td>Florida State University</td>
      <td>202374.0</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Mark Alarie</td>
      <td>1987</td>
      <td>1991</td>
      <td>F</td>
      <td>6-8</td>
      <td>217.0</td>
      <td>December 11, 1963</td>
      <td>Duke University</td>
      <td>76019.0</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Gary Alcorn</td>
      <td>1960</td>
      <td>1961</td>
      <td>C</td>
      <td>6-9</td>
      <td>225.0</td>
      <td>October 8, 1936</td>
      <td>California State University, Fresno</td>
      <td>76020.0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>4177</th>
      <td>Luther Wright</td>
      <td>1994</td>
      <td>1994</td>
      <td>C</td>
      <td>7-2</td>
      <td>270.0</td>
      <td>September 22, 1971</td>
      <td>Seton Hall University</td>
      <td>1007.0</td>
    </tr>
    <tr>
      <th>4178</th>
      <td>Sharone Wright</td>
      <td>1995</td>
      <td>1998</td>
      <td>F-C</td>
      <td>6-11</td>
      <td>260.0</td>
      <td>January 30, 1973</td>
      <td>Clemson University</td>
      <td>412.0</td>
    </tr>
    <tr>
      <th>4179</th>
      <td>Tony Wroten</td>
      <td>2013</td>
      <td>2016</td>
      <td>G</td>
      <td>6-6</td>
      <td>205.0</td>
      <td>April 13, 1993</td>
      <td>University of Washington</td>
      <td>203100.0</td>
    </tr>
    <tr>
      <th>4180</th>
      <td>Dennis Wuycik</td>
      <td>1973</td>
      <td>1975</td>
      <td>F</td>
      <td>6-6</td>
      <td>215.0</td>
      <td>March 29, 1950</td>
      <td>University of North Carolina</td>
      <td>81436.0</td>
    </tr>
    <tr>
      <th>4182</th>
      <td>Vincent Yarbrough</td>
      <td>2003</td>
      <td>2003</td>
      <td>G-F</td>
      <td>6-7</td>
      <td>210.0</td>
      <td>March 21, 1981</td>
      <td>University of Tennessee</td>
      <td>2428.0</td>
    </tr>
    <tr>
      <th>4183</th>
      <td>George Yardley</td>
      <td>1954</td>
      <td>1960</td>
      <td>F-G</td>
      <td>6-5</td>
      <td>190.0</td>
      <td>November 3, 1928</td>
      <td>Stanford University</td>
      <td>78628.0</td>
    </tr>
    <tr>
      <th>4184</th>
      <td>Barry Yates</td>
      <td>1972</td>
      <td>1972</td>
      <td>F</td>
      <td>6-7</td>
      <td>215.0</td>
      <td>January 30, 1946</td>
      <td>University of Maryland</td>
      <td>78629.0</td>
    </tr>
    <tr>
      <th>4185</th>
      <td>Wayne Yates</td>
      <td>1962</td>
      <td>1962</td>
      <td>C</td>
      <td>6-8</td>
      <td>235.0</td>
      <td>November 7, 1937</td>
      <td>University of Memphis</td>
      <td>78630.0</td>
    </tr>
    <tr>
      <th>4186</th>
      <td>Charlie Yelverton</td>
      <td>1972</td>
      <td>1972</td>
      <td>G-F</td>
      <td>6-2</td>
      <td>190.0</td>
      <td>December 5, 1948</td>
      <td>Fordham University</td>
      <td>78631.0</td>
    </tr>
    <tr>
      <th>4187</th>
      <td>Rich Yonakor</td>
      <td>1982</td>
      <td>1982</td>
      <td>F</td>
      <td>6-9</td>
      <td>220.0</td>
      <td>October 3, 1958</td>
      <td>University of North Carolina</td>
      <td>78632.0</td>
    </tr>
    <tr>
      <th>4188</th>
      <td>Danny Young</td>
      <td>1985</td>
      <td>1995</td>
      <td>G</td>
      <td>6-3</td>
      <td>175.0</td>
      <td>July 26, 1962</td>
      <td>Wake Forest University</td>
      <td>78633.0</td>
    </tr>
    <tr>
      <th>4189</th>
      <td>James Young</td>
      <td>2015</td>
      <td>2017</td>
      <td>G-F</td>
      <td>6-6</td>
      <td>215.0</td>
      <td>August 16, 1995</td>
      <td>University of Kentucky</td>
      <td>203923.0</td>
    </tr>
    <tr>
      <th>4190</th>
      <td>Joe Young</td>
      <td>2016</td>
      <td>2018</td>
      <td>G</td>
      <td>6-2</td>
      <td>180.0</td>
      <td>June 27, 1992</td>
      <td>University of Oregon</td>
      <td>1626202.0</td>
    </tr>
    <tr>
      <th>4191</th>
      <td>Michael Young</td>
      <td>1985</td>
      <td>1990</td>
      <td>F-G</td>
      <td>6-7</td>
      <td>220.0</td>
      <td>January 2, 1961</td>
      <td>University of Houston</td>
      <td>78634.0</td>
    </tr>
    <tr>
      <th>4192</th>
      <td>Nick Young</td>
      <td>2008</td>
      <td>2018</td>
      <td>G-F</td>
      <td>6-7</td>
      <td>210.0</td>
      <td>June 1, 1985</td>
      <td>University of Southern California</td>
      <td>201156.0</td>
    </tr>
    <tr>
      <th>4193</th>
      <td>Perry Young</td>
      <td>1987</td>
      <td>1987</td>
      <td>G</td>
      <td>6-5</td>
      <td>210.0</td>
      <td>August 4, 1963</td>
      <td>Virginia Polytechnic Institute and State Unive...</td>
      <td>78635.0</td>
    </tr>
    <tr>
      <th>4194</th>
      <td>Sam Young</td>
      <td>2010</td>
      <td>2013</td>
      <td>F</td>
      <td>6-6</td>
      <td>220.0</td>
      <td>June 1, 1985</td>
      <td>University of Pittsburgh</td>
      <td>201970.0</td>
    </tr>
    <tr>
      <th>4195</th>
      <td>Thaddeus Young</td>
      <td>2008</td>
      <td>2018</td>
      <td>F</td>
      <td>6-8</td>
      <td>221.0</td>
      <td>June 21, 1988</td>
      <td>Georgia Institute of Technology</td>
      <td>201152.0</td>
    </tr>
    <tr>
      <th>4196</th>
      <td>Tim Young</td>
      <td>2000</td>
      <td>2000</td>
      <td>C</td>
      <td>7-0</td>
      <td>220.0</td>
      <td>February 6, 1976</td>
      <td>Stanford University</td>
      <td>1937.0</td>
    </tr>
    <tr>
      <th>4199</th>
      <td>Cody Zeller</td>
      <td>2014</td>
      <td>2018</td>
      <td>C-F</td>
      <td>7-0</td>
      <td>240.0</td>
      <td>October 5, 1992</td>
      <td>Indiana University</td>
      <td>203469.0</td>
    </tr>
    <tr>
      <th>4200</th>
      <td>Dave Zeller</td>
      <td>1962</td>
      <td>1962</td>
      <td>G</td>
      <td>6-1</td>
      <td>175.0</td>
      <td>June 8, 1939</td>
      <td>Miami University</td>
      <td>78640.0</td>
    </tr>
    <tr>
      <th>4201</th>
      <td>Gary Zeller</td>
      <td>1971</td>
      <td>1972</td>
      <td>G</td>
      <td>6-3</td>
      <td>205.0</td>
      <td>November 20, 1947</td>
      <td>Drake University</td>
      <td>78641.0</td>
    </tr>
    <tr>
      <th>4204</th>
      <td>Tyler Zeller</td>
      <td>2013</td>
      <td>2018</td>
      <td>F-C</td>
      <td>7-0</td>
      <td>253.0</td>
      <td>January 17, 1990</td>
      <td>University of North Carolina</td>
      <td>203092.0</td>
    </tr>
    <tr>
      <th>4205</th>
      <td>Tony Zeno</td>
      <td>1980</td>
      <td>1980</td>
      <td>F</td>
      <td>6-8</td>
      <td>210.0</td>
      <td>October 1, 1957</td>
      <td>Arizona State University</td>
      <td>78643.0</td>
    </tr>
    <tr>
      <th>4206</th>
      <td>Phil Zevenbergen</td>
      <td>1988</td>
      <td>1988</td>
      <td>C</td>
      <td>6-10</td>
      <td>230.0</td>
      <td>April 13, 1964</td>
      <td>University of Washington</td>
      <td>78644.0</td>
    </tr>
    <tr>
      <th>4207</th>
      <td>George Zidek</td>
      <td>1996</td>
      <td>1998</td>
      <td>C</td>
      <td>7-0</td>
      <td>250.0</td>
      <td>August 2, 1973</td>
      <td>University of California, Los Angeles</td>
      <td>678.0</td>
    </tr>
    <tr>
      <th>4208</th>
      <td>Derrick Zimmerman</td>
      <td>2006</td>
      <td>2006</td>
      <td>G</td>
      <td>6-3</td>
      <td>195.0</td>
      <td>December 2, 1981</td>
      <td>Mississippi State University</td>
      <td>2583.0</td>
    </tr>
    <tr>
      <th>4209</th>
      <td>Stephen Zimmerman</td>
      <td>2017</td>
      <td>2017</td>
      <td>C</td>
      <td>7-0</td>
      <td>240.0</td>
      <td>September 9, 1996</td>
      <td>University of Nevada, Las Vegas</td>
      <td>1627757.0</td>
    </tr>
    <tr>
      <th>4211</th>
      <td>Bill Zopf</td>
      <td>1971</td>
      <td>1971</td>
      <td>G</td>
      <td>6-1</td>
      <td>170.0</td>
      <td>June 7, 1948</td>
      <td>Duquesne University</td>
      <td>78648.0</td>
    </tr>
    <tr>
      <th>4212</th>
      <td>Matt Zunic</td>
      <td>1949</td>
      <td>1949</td>
      <td>G-F</td>
      <td>6-3</td>
      <td>195.0</td>
      <td>December 19, 1919</td>
      <td>George Washington University</td>
      <td>78650.0</td>
    </tr>
  </tbody>
</table>
<p>3086 rows  9 columns</p>
</div>

Recheck the missing of data

In [22]:
data_player_info.apply(lambda x: sum(x.isnull()),axis=0)

FULL_NAME     0
YEAR_START    0
YEAR_END      0
POSITION      0
HEIGHT        0
WEIGHT        0
BIRTH_DATE    0
COLLEGE       0
PLAYER_ID     0
dtype: int64

Save the data

In [23]:
data_player_info.to_csv('revised_player_info.csv', index=False)